In [ ]:
#1. Given two integer numbers return their product. If the product is greater than 1000, then return their sum.
def my_function():
  num1 =int(input(" 1st value:"))
  num2 =int(input(" 2nd value:"))
  s=0
  sum = num1 + num2
  if sum>1000:
    return sum

  else:
    print()
    print("print again")
    return my_function()
x=my_function()
print('The result is:',x)

 1st value:30
 2nd value:40

print again
 1st value:36
 2nd value:1000
The result is: 1036

In [ ]:
#2. Given a range of the first 10 numbers, Iterate from the start number to the end number, and In each iteration
 # print the sum of the current number and previous number
sum = 0
for idx in range(10):
    print(f'current number = {idx}')
    if idx != 0:
        sum += idx
        print(f'previous. sum = {sum}')

current number = 0
current number = 1
previous. sum = 1
current number = 2
previous. sum = 3
current number = 3
previous. sum = 6
current number = 4
previous. sum = 10
current number = 5
previous. sum = 15
current number = 6
previous. sum = 21
current number = 7
previous. sum = 28
current number = 8
previous. sum = 36
current number = 9
previous. sum = 45

In [ ]:
#3. Print First 10 natural numbers using while loop.
x=0
while x<10:
  print(x)
  x=x+1

0
1
2
3
4
5
6
7
8
9

In [ ]:
#4. Accept number from user and calculate the sum of all number from 1 to a given number
x=int(input("Enter the value:"))
s=0
for i in range(x+1):
  s=s+i
print("The sum is:",s)

Enter the value:44
The sum is: 990

In [ ]:
#5. Given a list, iterate it, and display numbers divisible by five, and if you find a number greater than 150, stop the loop iteration.
list1=[12,67,22,78,32,36,43,51,41,61,15,42,23,299]
for i in list1:
  if i<150:
    if i%5==0:
      print(i)
  else:
    break

15

In [ ]:
#6. Reverse the following list using for loop
list1=[12,67,22,78,32,36,43,51,41,61,15,42,23,299]
for i in reversed(list1):
  print(i)

299
23
42
15
61
41
51
43
36
32
78
22
67
12

In [ ]:
#7. Display “My Name Is James” as “My**Name**Is**James” using output formatting of a print() function
#For example: print('My', 'Name', 'Is', 'Tamim') will display MyNameIsJames

#So use one of the formatting argument of print() to turn the output into My**Name**Is**Tamim
print('My**'+'Name**'+'Is**'+'Tamim')

My**Name**Is**Tamim

In [ ]:
#8. Concatenate two lists index-wise
test_list1 = ["supti_", "lima_", "mithila_"]
test_list2 = ['khalida', 'era', 'rimi']
  
# printing original lists
print ("The original list 1 is : " + str(test_list1))
print ("The original list 2 is : " + str(test_list2))
  
# using list comprehension + zip()
# interlist element concatenation
res = [i + j for i, j in zip(test_list1, test_list2)]
  
# printing result 
print ("The list after element concatenation is : " +  str(res))

The original list 1 is : ['supti_', 'lima_', 'mithila_']
The original list 2 is : ['khalida', 'era', 'rimi']
The list after element concatenation is : ['supti_khalida', 'lima_era', 'mithila_rimi']

In [ ]:
#9. Given a Python list of numbers. Turn every item of a list into its square
list1=[1,2,3,4,5,6]
list2=[]
for i in list1:
  z=i*i
  list2.append(z)
print(list2)

[1, 4, 9, 16, 25, 36]

In [ ]:
#10. Access value 20 from the following tuple
Tuple = ("Orange", [10, 20, 30], (5, 15, 25))
print(Tuple[1][1])

20